<ul class="comments">
    {% for comment in comments %}
        <li class="comment">
            <!--头像-->
            <div class="comment-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
            </div>
            <div class="comment-content">
                <!--评论时间和作者-->
                <div class="comment-body">
                    {% if comment.disabled %}
                        <p><i>Comment disabled</i></p>
                    {% endif %}
                    {% if moderate or not comment.disabled %}
                        {{ comment.body }}
                    {% endif %}
                </div>
                {% if moderate %}
                    <br>
                    {% if comment.disabled %}
                        <a class="btn btn-default btn-xs"
                           href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                    {% else %}
                        <a class="btn btn-danger btn-xs"
                           href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
